<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480005596961-c0de0391jqachh97phicoiorcigp3bvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480005596961-c0de0391jqachh97phicoiorcigp3bvd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>480005596961-ljqcofmnbq635redqfj3v84hbkjskt6i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBqQ_KNwmX4und1g2jajTAJ3JmMmw5ppSE</string>
	<key>GCM_SENDER_ID</key>
	<string>480005596961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parqnative</string>
	<key>PROJECT_ID</key>
	<string>parq-alpha</string>
	<key>STORAGE_BUCKET</key>
	<string>parq-alpha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480005596961:ios:5df142c49f5bd8aeba0060</string>
	<key>DATABASE_URL</key>
	<string>https://parq-alpha.firebaseio.com</string>
</dict>
</plist>